<div class="navbar navbar-inverse navbar-fixed-top headroom" style="background:rgba(130,0,14,0.24)">
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand" href="{{ path('index') }}"><img src="{{ asset('assets/images/logoleaders.png') }}" alt="Progressus HTML5 template" height="50px" ; width="150px" ></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="active"><a href="#">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">formation <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('licence') }}">Licences</a></li>
                        <li class="active"><a href="{{ path('master') }}">Masteres</a></li>
                        <li class="active"><a href="{{ path('btp_bts') }}">BTP/BTS</a></li>
                    </ul>
                </li>

                <li><a href="{{ path('contact') }}">Contact</a></li>
                <li><a class="btn" href="{{ path('app_register') }}"> SIGN UP</a></li>
                <li><a class="btn" href="{{ path('app_login') }}"> SIGN IN</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
